<div fxHide.lt-md>
  <h1 class="heading" fxLayoutAlign="center">Grains</h1>
    <div style="padding: 40px;" fxLayoutAlign="center"
    fxLayoutGap="50px">
    <section>
      <mat-card>
        <mat-card-title class="cardheading"> 1121 Basmati </mat-card-title>
      <mat-card-subtitle>Rice </mat-card-subtitle>
      <mat-card-content>
        <img mat-card-image src="assets\Images\Products\Grains\Rice\1121 Basmati Rice.jpg"
        style="width: 300px; height: 300px; padding: 40px;">
        <b>1121 Basmati Rice</b> that we are offering has high quality and
          the length of rice is 8.00 to 8.30 mm........
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="basmati()">Read More</button>
        <!-- <app-enquire></app-enquire> -->
      </mat-card-actions>
    </mat-card>
  </section>
  <section>
    <mat-card>
      <mat-card-title> 1121 Steam Basmati</mat-card-title>
      <mat-card-subtitle>Rice</mat-card-subtitle>
      <mat-card-content>
        <img mat-card-image src="assets\Images\Products\Grains\Rice\1121 steam rice.jpg"
        style="width: 300px; height: 280px; padding: 40px;">
        <b> 1121 Steam Basmati Rice </b>is one of the most popular
                 varieties of the long grain rice. Its seamless quality ........
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="steam()">Read More</button>
        <!-- <app-enquire></app-enquire> -->
      </mat-card-actions>
    </mat-card>
  </section>
  <section>
    <mat-card>
      <mat-card-title>1509 Basmati Rice</mat-card-title>
      <mat-card-subtitle>Rice</mat-card-subtitle>
      <mat-card-content>
        <img mat-card-image src="assets\Images\Products\Grains\Rice\1509.jpg"
        style="width: 300px; height: 300px; padding: 40px;">
        <b>1509 Basmati Rice</b> is the queen of premium aromatic
         rice varieties, exclusively cultivable ........
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="rice()">Read More</button>
        <!-- <app-enquire></app-enquire> -->
      </mat-card-actions>
    </mat-card>
  </section>
  </div>
  <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap='50px'>
    <section>
      <mat-card>
        <mat-card-title >PUSA Basmati Rice</mat-card-title>
        <mat-card-subtitle> Rice </mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Images\Products\Grains\Rice\pusa.jpg"
          style="width: 300px; height: 300px; padding: 40px;">
          <b>Pusa 1121</b> is an essentially derived variety evolved
                through the process of hybridization over a long breeding
                 process.
                </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="pusa()">Read More</button>
          <!-- <app-enquire></app-enquire> -->
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title>RH-10</mat-card-title>
        <mat-card-subtitle>Rice</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Images\Products\Grains\Rice\RH-10.jpg"
          style="width: 300px; height: 300px; padding: 40px;">
          <b>RH-10</b> is a hybrid strain of non-basmati rice.
           It has been developed by the Indian Agricultural Research
           Institute (IARI).
            </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="rh10()">Read More</button>
          <!-- <app-enquire></app-enquire> -->
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title>Sharbati</mat-card-title>
        <mat-card-subtitle>Rice</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Images\Products\Grains\Rice\sharbati.jpg"
          style="width: 300px; height: 300px; padding: 40px;">
          <b> Sharbati Rice </b>is a low cost basmati rice in India
          considered as one of the low cost. It
          has sweet taste and it is non-sticky in nature.
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="sharbatirice()">Read More</button>
          <!-- <app-enquire></app-enquire> -->
        </mat-card-actions>
      </mat-card>
    </section>

    </div>
    <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap='50px'>
      <section>
        <mat-card>
          <mat-card-title>Sugandha</mat-card-title>
          <mat-card-subtitle>Rice</mat-card-subtitle>
          <mat-card-content>
            <img mat-card-image src="assets\Images\Products\Grains\Rice\sugandha.jpg"
            style="width: 300px; height: 300px; padding: 40px;">
            <b> Sugandha Rice </b>offered is one of the finest quality
            basmati rice available in India. Sugandha rice produces exotic aroma while
 <br>
             </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="sugandha()">Read More</button>
            <!-- <app-enquire></app-enquire> -->
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title >Traditional Basmati </mat-card-title>
          <mat-card-subtitle>Rice </mat-card-subtitle>
          <mat-card-content>
            <img mat-card-image src="assets\Images\Products\Grains\Rice\traditional.jpg"
            style="width: 300px; height: 300px; padding: 40px;">
            <b>Papdi are deep fried, crisp, small flour crackers or pooris</b> laced with either carom or cumin seeds or both.....
           </mat-card-content>
             <mat-card-actions>
            <button mat-raised-button (click)="traditional()">Read More</button>
            <!-- <app-enquire></app-enquire> -->
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>sharbati </mat-card-title>
          <mat-card-subtitle>wheat</mat-card-subtitle>
          <mat-card-content>
            <img mat-card-image src="assets\Images\Products\Grains\wheat\sharbatiwheat.png"
            style="width: 300px; height: 300px; padding: 40px;">
            <b>Sharbati wheat </b>is a regional variety of atta,
             derived from the wheat grown in the Sehore and Vidisha
              regions of MP. Also known as the MP wheat,....
               </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="sharbatiwheat()">Read More</button>
            <!-- <app-enquire></app-enquire> -->
          </mat-card-actions>
        </mat-card>
      </section>

      </div>

      <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap='50px'>
        <section>
          <mat-card style="width: 400px">
            <mat-card-title>Wheat</mat-card-title>
            <mat-card-subtitle>wheat</mat-card-subtitle>
            <mat-card-content>
              <img mat-card-image src="assets\Images\Products\Grains\wheat\wheat.jpg"
              style="width: 300px; height: 300px; padding: 40px;"><br>
                <b>Wheat </b>is one of the world's most commonly consumed
                cereal grains. It comes from a type of grass (Triticum)
                that is grown in countless varieties worldwide........
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="wheat()">Read More</button>
              <!-- <app-enquire></app-enquire> -->
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card style="width: 400px">
            <mat-card-title>Wheat Flour</mat-card-title>
            <mat-card-subtitle>wheat</mat-card-subtitle>
            <mat-card-content>
              <img mat-card-image src="assets\Images\Products\Grains\wheat\wheat flour.jpg"
              style="width: 300px; height: 300px; padding: 40px;"><br>
                <b> Wheat flour</b> is a powder made from the grinding
             of wheat used for human consumption. Wheat varieties
             are called "soft" or "weak" if gluten content is low
             , and are" .........
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="wheatflour()">Read More</button>
              <!-- <app-enquire></app-enquire> -->
            </mat-card-actions>
          </mat-card>
        </section>
      </div>
  </div>



  <div fxHide.gt-md fxLayout="column" fxLayoutAlign="center" >
    <hr />
  <h1 class="mobheading" fxLayoutAlign="center">Grains </h1>
  <div fxLayoutAlign="center">
  <div>
    <section>
      <mat-card>
        <mat-card-title> 1121 Basmati</mat-card-title>
        <mat-card-subtitle>Rice </mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets\Images\Products\Grains\Rice\1121 Basmati Rice.jpg">

          <b>1121 Basmati Rice</b> that we are offering has high quality and
            the length of rice is 8.00 to 8.30 mm........
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="basmati()">Read More</button>
          <!-- <app-enquire></app-enquire> -->
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card class="mobcard">
        <mat-card-title> 1121 Steam Basmati</mat-card-title>
        <mat-card-subtitle>Rice</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Images\Products\Grains\Rice\1121 steam rice.jpg">

          <b> 1121 Steam Basmati Rice </b>is one of the most popular
                   varieties of the long grain rice. Its seamless quality along
                    with its cost-effective prices make it a preferred choice
                    of rice variety for Moms and many of the cooks worldwide........
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="steam()">Read More</button>
          <!-- <app-enquire></app-enquire> -->
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card class="mobcard">
        <mat-card-title>1509 Basmati Rice</mat-card-title>
        <mat-card-subtitle>Rice</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Images\Products\Grains\Rice\1509.jpg"
           >
          <b>1509 Basmati Rice</b> is the queen of premium aromatic
           rice varieties, exclusively cultivable in the uttermost
           fertile regions of India, Pakistan and a lesser known
           landscape i.e. Nepal.........
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="rice()">Read More</button>
          <!-- <app-enquire></app-enquire> -->
        </mat-card-actions>
      </mat-card>
    </section>
     <section>
        <mat-card class="mobcard">
          <mat-card-title >PUSA Basmati Rice</mat-card-title>
          <mat-card-subtitle> Rice </mat-card-subtitle>
          <mat-card-content>
            <img mat-card-image src="assets\Images\Products\Grains\Rice\pusa.jpg">

            <b>Pusa 1121</b> is an essentially derived variety evolved
                  through the process of hybridization over a long breeding
                   process.
                  </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="pusa()">Read More</button>
            <!-- <app-enquire></app-enquire> -->
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card class="mobcard">
          <mat-card-title>RH-10</mat-card-title>
          <mat-card-subtitle>Rice</mat-card-subtitle>
          <mat-card-content>
            <img mat-card-image src="assets\Images\Products\Grains\Rice\RH-10.jpg"
            >
            <b>RH-10</b> is a hybrid strain of non-basmati rice.
             It has been developed by the Indian Agricultural Research
             Institute (IARI).
              </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="rh10()">Read More</button>
            <!-- <app-enquire></app-enquire> -->
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card class="mobcard">
          <mat-card-title>Sharbati</mat-card-title>
          <mat-card-subtitle>Rice</mat-card-subtitle>
          <mat-card-content>
            <img mat-card-image src="assets\Images\Products\Grains\Rice\sharbati.jpg"
            >
            <b> Sharbati Rice </b>is a low cost basmati rice in India
            considered as one of the low cost. It
            has sweet taste and it is non-sticky in nature.
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="sharbatirice()">Read More</button>
            <!-- <app-enquire></app-enquire> -->
          </mat-card-actions>
        </mat-card>
      </section>
        <section>
          <mat-card class="mobcard">
            <mat-card-title>Sugandha</mat-card-title>
            <mat-card-subtitle>Rice</mat-card-subtitle>
            <mat-card-content>
              <img mat-card-image src="assets\Images\Products\Grains\Rice\sugandha.jpg"
              >
              <b> Sugandha Rice </b>offered is one of the finest quality
              basmati rice available in India. Sugandha rice produces exotic aroma while
              cooking and has mouth-watering taste.<br>
               </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="sugandha()">Read More</button>
              <!-- <app-enquire></app-enquire> -->
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobcard">
            <mat-card-title >Traditional Basmati </mat-card-title>
            <mat-card-subtitle>Rice </mat-card-subtitle>
            <mat-card-content>
              <img mat-card-image src="assets\Images\Products\Grains\Rice\traditional.jpg">

              <b>Papdi are deep fried, crisp, small flour crackers or pooris</b> laced with either carom or cumin seeds or both.....
             </mat-card-content>
               <mat-card-actions>
              <button mat-raised-button (click)="traditional()">Read More</button>
              <!-- <app-enquire></app-enquire> -->
            </mat-card-actions>
          </mat-card>
        </section>
        <section>
          <mat-card class="mobcard">
            <mat-card-title>sharbati </mat-card-title>
            <mat-card-subtitle>wheat</mat-card-subtitle>
            <mat-card-content>
              <img mat-card-image src="assets\Images\Products\Grains\wheat\sharbatiwheat.png">
                            <b>Sharbati wheat </b>is a regional variety of atta,
               derived from the wheat grown in the Sehore and Vidisha
                regions of MP. Also known as the MP wheat,
                 Sharbati atta is sweeter in taste and better in texture.
                 </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="sharbatiwheat()">Read More</button>
              <!-- <app-enquire></app-enquire> -->
            </mat-card-actions>
          </mat-card>
        </section>
      <section>
            <mat-card class="mobcard">
              <mat-card-title>Wheat</mat-card-title>
              <mat-card-subtitle>wheat</mat-card-subtitle>
              <mat-card-content>
                <img mat-card-image src="assets\Images\Products\Grains\wheat\wheat.jpg"
                  ><br>
                  <b>Wheat </b>is one of the world's most commonly consumed
                  cereal grains. It comes from a type of grass (Triticum)
                  that is grown in countless varieties worldwide........
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button (click)="wheat()">Read More</button>
                <!-- <app-enquire></app-enquire> -->
              </mat-card-actions>
            </mat-card>

          </section>
          <section>
            <mat-card class="mobcard">
              <mat-card-title>Wheat Flour</mat-card-title>
              <mat-card-subtitle>wheat</mat-card-subtitle>
              <mat-card-content>
                <img mat-card-image src="assets\Images\Products\Grains\wheat\wheat flour.jpg"
                  ><br>
                  <b> Wheat flour</b> is a powder made from the grinding
               of wheat used for human consumption. Wheat varieties
               are called "soft" or "weak" if gluten content is low
               , and are called "hard" or "strong" if they have high
               gluten content.........
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button (click)="wheatflour()">Read More</button>
                <!-- <app-enquire></app-enquire> -->
              </mat-card-actions>
            </mat-card>
          </section>
        </div>
        </div>
    </div>
