.heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  padding: 30px;
}
.mobheading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  padding: 40px;
}
.mat-card{
  width: 380px;
  height: 500x;
  }
.mobcard{
  width: 340px;
}
