<div fxHide.lt-md>
  <div  class="heading">
  <div style="padding: 20px;" fxLayout>
    <section style="width: 500px;">
      <div>
        <img
          src="assets\Images\Logo\logo1.JPG"
          style="width: 500px; height: 150px;"
        />
      </div>
      <br />
      <div>
        <p style="font-size: 25px;">
          <b>R-Exim India!</b>
        </p>
        <div style="font-size: 20px;">
          We are proud to announce the Company that enjoys making challenging
          tasks possible in Sourcing business, who has taken traditional
          import-export companies by storm.
          <br />
        </div>
      </div>
    </section>
    <hr style="color: wheat;" />
    <section style="padding: 10px;">
      <div>
        <p style="font-size: 25px;">
          <b>Address :</b>
        </p>
        <div style="font-size: 20px;">
          F-43 Rishi Nagar , Ujjain, Madhya Pradesh , India
          <br /><br /><br />
        </div>
      </div>
      <div>
        <p style="font-size: 25px;">
          <b>Contact Number :</b>
        </p>
        <div style="font-size: 20px;">
          8319777938
          <br /><br /><br />
        </div>
      </div>
      <div>
        <p style="font-size: 25px;">
          <b>Email ID:</b>
        </p>
        <div style="font-size: 20px;">
          <a href="mailto:thereximindia@gmail.com"> thereximindia@gmail.com </a>
          <br />
        </div>
      </div>
    </section>
    <hr style="color: wheat;" />
    <section style="padding: 10px;">
      <div>
        <p style="font-size: 25px;">
          <b>Links</b>
        </p>
        <div style="font-size: 20px;">
          <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Products</li>
            <li>Contact Us</li>
          </ul>
          <br />
        </div>
      </div>
      <hr style="color: wheat;" />
      <div>
        <p style="font-size: 25px;" fxLayoutAlign="center">
          <b>About the developer</b>
        </p>
        <div style="font-size: 20px;" fxLayoutAlign="center">
          <button>know us</button>
          <br />
        </div>
      </div>
    </section>
  </div>

  <hr style="color: wheat;" />
  <section style="padding: 30px;">
    <div>
      <p style="font-size: 35px; text-align: center;">
        <b>Connect With</b>
      </p>

      <div fxLayoutAlign="center">
        <img

          class="circle"
          src="assets\Images\home\gmail.png"
        />
        <img class="circle" src="assets\Images\home\insta.jpg" />
      </div>
    </div>
  </section>

  <hr style="color: wheat;" />
  <section>
    <div style="font-size: 20px; text-align: center;">
      @ Developed and maintained by the developer
      <br />
    </div>
  </section>
</div>
</div>

<div  fxHide.gt-md>
  <div  class="heading" style="width: 500px;">
  <div style="padding: 20px;">
    <section style="width: 500px;">
      <div  fxLayoutAlign="center">
        <img
          src="assets\Images\Logo\logo1.JPG"
          style="width: 300px; height: 100px;"
        />
      </div>
      <br />
      <div>
        <p style="font-size: 25px;">
          <b>R-Exim India!</b>
        </p>
        <div style="font-size: 20px;">
          We are proud to announce the Company that enjoys making challenging
          tasks possible in Sourcing business, who has taken traditional
          import-export companies by storm.
          <br />
        </div>
      </div>
    </section>
    <hr style="color: wheat;" />
    <section style="padding: 10px;">
      <div>
        <p style="font-size: 25px;">
          <b>Address :</b>
        </p>
        <div style="font-size: 20px;">
          F-43 Rishi Nagar , Ujjain, Madhya Pradesh , India
          <br /><br /><br />
        </div>
      </div>
      <div>
        <p style="font-size: 25px;">
          <b>Contact Number :</b>
        </p>
        <div style="font-size: 20px;">
          8319777938
          <br /><br /><br />
        </div>
      </div>
      <div>
        <p style="font-size: 25px;">
          <b>Email ID:</b>
        </p>
        <div style="font-size: 20px;">
          <a href="mailto:thereximindia@gmail.com"> thereximindia@gmail.com </a>
          <br />
        </div>
      </div>
    </section>
    <hr style="color: wheat;" />
    <section style="padding: 10px;">
      <div>
        <p style="font-size: 25px;">
          <b>Links</b>
        </p>
        <div style="font-size: 20px;">
          <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Products</li>
            <li>Contact Us</li>
          </ul>
          <br />
        </div>
      </div>
      <hr style="color: wheat;" />
      <div>
        <p style="font-size: 25px;">
          <b>About the developer</b>
        </p>
        <div style="font-size: 20px;">
          <button>know us</button>
          <br />
        </div>
      </div>
    </section>
  </div>

  <hr style="color: wheat;" />
  <section style="padding: 30px;">
    <div>
      <p style="font-size: 35px; text-align: center;">
        <b>Connect With</b>
      </p>

      <div fxLayoutAlign="center">
        <img
          style="align-items: center center;"
          class="circle"
          src="assets\Images\home\gmail.png"
        />
        <img class="circle" src="assets\Images\home\insta.jpg" />
      </div>
    </div>
  </section>

  <hr style="color: wheat;" />
  <section>
    <div style="font-size: 20px; text-align: center;">
      @ Developed and maintained by the developer
      <br />
    </div>
  </section>
  </div>
</div>
