
<div style="background-color:  rgb(136, 137, 139);" fxHide.lt-md>
  <mat-toolbar fxLayout>
    <div style="padding: 5px;" fxLayout>
      <section style="width: 500px;">
        <div>
          <img
            src="assets\Images\Logo\logo1.JPG"
            style="width: 480px; height: 100px;"
          />
        </div>
        <br />
        <div>
          <p style="font-size: 25px;">
            <b>R-Exim India!</b>
          </p>
          <div style="font-size: 20px;" >
            We are proud to announce the Company that enjoys <br>
            making challenging tasks possible in Sourcing business,<br>
             who has taken traditional import-export companies by<br> storm.

          </div>
        </div>
      </section>
      <hr style="color: wheat;" />
      <section style="padding: 10px;">
        <div>
          <p style="font-size: 25px;">
            <b>Address :</b>
          </p>
          <div style="font-size: 20px;">
            F-43 Rishi Nagar , Ujjain, Madhya Pradesh , India
            <br /><br>
          </div>
        </div>
        <div>
          <p style="font-size: 25px;">
            <b>Contact Number :</b>
          </p>
          <div style="font-size: 20px;">
            8319777938
            <br /><br>
          </div>
        </div>
        <div>
          <p style="font-size: 25px;">
            <b>Email ID:</b>
          </p>
          <div style="font-size: 20px;">
            <a href="mailto:thereximindia@gmail.com"> thereximindia@gmail.com </a>

          </div>
        </div>
      </section>
      <hr style="color: wheat;" />
      <section style="padding: 10px;">
        <div>
          <p style="font-size: 25px;">
            <b>Links</b>
          </p>
          <div style="font-size: 20px;">
            <ul>
              <li>Home</li>
              <li>About Us</li>
              <li>Products</li>
              <li>Contact Us</li>
            </ul>

          </div>
        </div>
        <hr style="color: wheat;" />
        <div>
          <p style="font-size: 25px;" fxLayoutAlign="center">
            <b>About the developer</b>
          </p>
          <div style="font-size: 20px;" fxLayoutAlign="center">
            <button>know us</button>

          </div>
        </div>
      </section>
    </div>
  </mat-toolbar>
  <hr style="color: wheat;" />
<mat-toolbar fxLayoutAlign="center">

    <section >
      <div>
        <p style="font-size: 25px; text-align: center;">
          <b>Connect With</b>
        </p>

        <div >
          <img class="circle"
            src="assets\Images\home\gmail.png"
          />
          <img class="circle" src="assets\Images\home\insta.jpg" />
        </div>
      </div>
    </section>
  </mat-toolbar>
  <hr style="color: wheat;" />
  <mat-toolbar fxLayoutAlign="center">

    <section>
      <div style="font-size: 20px; text-align: center;">
        @ Developed and maintained by the developer
        <br />
      </div>
    </section>
</mat-toolbar>


</div>


<div style="background-color:  rgb(136, 137, 139);" fxHide.gt-md>
  <div style="background-color:  rgb(136, 137, 139);width: 375px;">
  <mat-toolbar>
    <div style="padding: 10px;">
      <section >
        <div>
          <img
            src="assets\Images\Logo\logo1.JPG"
            style="width: 320px; height: 150px;"
          />
        </div>
        <br />
        <div>
          <p style="font-size: 25px;">
            <b>R-Exim India!</b>
          </p>
          <div style="font-size: 20px;" >
            We are proud to announce the<br> Company that enjoys
            making  <br>challenging tasks<br> possible in Sourcing business,<br>
             who has taken traditional import<br>-export companies by storm.
            <br />
          </div>
        </div>
      </section>
      <hr style="color: wheat;" />
      <section style="padding: 10px;">
        <div>
          <p style="font-size: 25px;">
            <b>Address :</b>
          </p>
          <div style="font-size: 20px;">
            F-43 Rishi Nagar , Ujjain, <br>Madhya Pradesh , India
            <br /><br /><br />
          </div>
        </div>
        <div>
          <p style="font-size: 25px;">
            <b>Contact Number :</b>
          </p>
          <div style="font-size: 20px;">
            8319777938
            <br /><br /><br />
          </div>
        </div>
        <div>
          <p style="font-size: 25px;">
            <b>Email ID:</b>
          </p>
          <div style="font-size: 20px;">
            <a href="mailto:thereximindia@gmail.com"> thereximindia@gmail.com </a>
            <br />
          </div>
        </div>
      </section>
      <hr style="color: wheat;" />
      <section style="padding: 10px;">
        <div>
          <p style="font-size: 25px;">
            <b>Links</b>
          </p>
          <div style="font-size: 20px;">
            <ul>
              <li>Home</li>
              <li>About Us</li>
              <li>Products</li>
              <li>Contact Us</li>
            </ul>
            <br />
          </div>
        </div>
        <hr style="color: wheat;" />
        <div>
          <p style="font-size: 25px;" fxLayoutAlign="center">
            <b>About the developer</b>
          </p>
          <div style="font-size: 20px;" fxLayoutAlign="center">
            <button>know us</button>
            <br />
          </div>
        </div>
      </section>
    </div>
  </mat-toolbar>
  <hr style="color: wheat;" />
<mat-toolbar fxLayoutAlign="center">

    <section style="padding: 30px;" >
      <div>
        <p style="font-size: 35px; text-align: center;">
          <b>Connect With</b>
        </p>

        <div >
          <img

            class="circle"
            src="assets\Images\home\gmail.png"
          />
          <img class="circle" src="assets\Images\home\insta.jpg" />
        </div>
      </div>
    </section>
  </mat-toolbar>
  <hr style="color: wheat;" />
  <mat-toolbar fxLayoutAlign="center">

    <section>
      <div style="font-size: 20px; text-align: center;">
        @ Developed and maintained by<br> the developer
        <br />
      </div>
    </section>
</mat-toolbar>


</div>

</div>
