.circle{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

a{
  color: white;
}
mat-toolbar{
  width: 100%;
  height: fit-content;
  background-color: rgb(136, 137, 139);
  padding: 20px; color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
