<!-- desktop view -->
<div fxHide.lt-md>
  <mat-toolbar color="primary">
    <div>R-Exim India<br /></div>
    <div>
      <span>Home</span>
      <span>About Us</span>
      <span>Products</span>
      <span>Contact Us</span>
    </div>
  </mat-toolbar>
  <!-- <img src="assets\Image\home\import1.jpg" style="height: 600px;width: 1355px;">
<img src="assets\Image\home\import.jpg" style="height: 600px;width: 1355px;"> -->
  <img
    src="assets\Image\home\import2.jpg"
    style="height: 600px; width: 1345px;"
  />
  <!-- about us know us -->
  <div style="padding: 50px; font-family: sans-serif;">
    <p style="font-size: 60px; text-align: center;">
      About Us
    </p>
    <p style="text-align: center; font-size: 20px; padding: 10px;">
      ----------------- Know us -----------------
    </p>
  </div>
  <!-- Welcome to r-exim india -->
  <div
    style="padding: 20px; background-color: whitesmoke;"
    fxLayout
    fxLayoutGap:20px
  >
    <section>
      <img class="circle" src="assets\Image\home\welcome.jpg" />
    </section>

    <section style="padding: 50px;">
      <div>
        <p style="font-size: 40px; text-align: center;">
          <b>Welcome To R-Exim India!</b>
        </p>
        <div style="font-size: 20px;">
          <br />
          We are proud to announce the Compnay that enjoys making challenging
          tasks possible in Sourcing business, who has taken traditional<br />
          import-export companies by storm.
          <br /><br />We are

          <ul>
            <li>team of young,</li>
            <br />
            <li>experienced,</li>
            <br />
            <li>dynamic individuals</li>
          </ul>
          who has not just achieved <b>new heights</b> on their respective
          careers but
          <i
            >also known terms dynamic ,market insights,client management and
            sourcing knowledge.</i
          >
        </div>
      </div>
    </section>
  </div>
  <br />
  <!-- why choose us -->
  <div
    style="padding: 20px; background-color: beige;"
    fxLayout
    fxLayoutGap:20px
  >
    <section style="padding: 50px;">
      <div>
        <p style="font-size: 40px; text-align: left;">
          <b>Why choose us?</b>
        </p>
        <div style="font-size: 20px;">
          <br />
          We select our product after doing detailed market research and then we
          source the ingredients directly contacting the farmers. Finally, our
          highly professional quality control department check each product with
          various quality parameters. <br /><br />We provide<br />

          <img class="icon" src="assets\Image\home\eco.jpg" /> Natural and
          Healthy Products<br /><br />
          <img class="icon" src="assets\Image\home\quality.png" /> Best-Quality
          Products <br /><br />
          <img class="icon" src="assets\Image\home\time.png" />Timely
          Delivery<br /><br />
        </div>
      </div>
    </section>
    <section>
      <img class="circle" src="assets\Image\home\why.jpg" />
    </section>
  </div>

  <br />
  <!-- out products -->
  <div style="padding: 50px; background-color: blanchedalmond;">
    <div>
      <section>
        <p style="font-size: 60px; text-align: center; padding: 20px;">
          Our Products
        </p>
        <br />
        <p style="text-align: center; font-size: 20px; padding: 10px;">
          ----------------- What are we doing -----------------
        </p>
      </section>
    </div>
    <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap="35px">
      <section>
        <mat-card>
          <mat-card-title style="font-size: 20px;"
            >Agricultural Products</mat-card-title
          >

          <mat-card-content
            ><br />
            <img
              mat-card-image
              class="card"
              src="assets\Image\home\agricultural3.jpg"
            />
          </mat-card-content>
          <mat-card-actions>
            <button>Read More</button>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Food Products</mat-card-title>

          <mat-card-content
            ><br />
            <img
              mat-card-image
              class="card"
              src="assets\Image\home\Food-Products.jpg"
            />
          </mat-card-content>
          <mat-card-actions>
            <button>Read More</button>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Chemicals</mat-card-title>
          <mat-card-content
            ><br />
            <img
              mat-card-image
              class="card"
              src="assets\Image\home\chemicals.jpg"
            />
          </mat-card-content>
          <mat-card-actions>
            <button>Read More</button>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Grains </mat-card-title>
          <mat-card-content>
            <br />
            <img
              mat-card-image
              class="card"
              src="assets\Image\home\grains.jpg"
            />
          </mat-card-content>
          <mat-card-actions>
            <button>Read More</button>
          </mat-card-actions>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title>Spices</mat-card-title>
          <mat-card-content
            ><br />
            <img
              mat-card-image
              class="card"
              src="assets\Image\home\spices.jpg"
            />
          </mat-card-content>
          <mat-card-actions>
            <button>Read More</button>
          </mat-card-actions>
        </mat-card>
      </section>
    </div>
  </div>
  <br />
  <!-- our process -->
  <div style="padding: 50px; background-color: rgb(180, 206, 255);">
    <div>
      <section>
        <p style="font-size: 60px; text-align: center; padding: 20px;">
          Our Process
        </p>
        <br />
        <p style="text-align: center; font-size: 20px; padding: 10px;">
          ----------------- We strictly follow with -----------------
        </p>
      </section>
    </div>
    <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap="50px">
      <section>
        <mat-card class="mat">
          <mat-card-title style="font-size: 20px;"
            >Understanding Your Requirements</mat-card-title
          >

          <mat-card-content
            ><br />
            <img
              mat-card-image
              class="circle2"
              src="assets\Image\home\req.png"
            />
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card class="mat"
          ><br />
          <mat-card-title style="font-size: 20px;">Costing</mat-card-title
          ><br />

          <mat-card-content
            ><br />
            <img
              mat-card-image
              class="circle2"
              src="assets\Image\home\cost.jpg"
            />
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card class="mat"
          ><br />
          <mat-card-title style="font-size: 20px;">
            Quotation Submission</mat-card-title
          >
          <mat-card-content
            ><br />
            <img
              mat-card-image
              class="circle2"
              src="assets\Image\home\quote.png"
            />
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card class="mat"
          ><br />
          <mat-card-title style="font-size: 20px;">
            Order Acceptance
          </mat-card-title>
          <mat-card-content>
            <br />
            <img
              mat-card-image
              class="circle2"
              src="assets\Image\home\order.png"
            />
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card class="mat"
          ><br /><br />
          <mat-card-title style="font-size: 20px;">Sourcing</mat-card-title>
          <mat-card-content
            ><br />
            <img
              mat-card-image
              class="circle2"
              src="assets\Image\home\source.png"
            />
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card class="mat"
          ><br /><br />
          <mat-card-title style="font-size: 20px;">Dispatch</mat-card-title>
          <mat-card-content
            ><br />
            <img
              mat-card-image
              class="circle2"
              src="assets\Image\home\dispatch.png"
            />
          </mat-card-content>
        </mat-card>
      </section>
    </div>
  </div>
</div>

<!--mobile view-->
<div fxHide.gt-md>
  <mat-drawer-container class="push" [hasBackdrop]="true">
    <mat-drawer #drawer>
      <div>
        <mat-toolbar color="primary">Home</mat-toolbar>
        <mat-toolbar>About Us</mat-toolbar>
        <mat-toolbar>Products</mat-toolbar>
        <mat-toolbar>Contact Us</mat-toolbar>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <mat-toolbar color="primary"> <div>R-Exim India</div></mat-toolbar>
      <!-- <div>
        <img style="width:300px ;height: 200px;" src="assets\Image\home\Logo.jpg">
      </div> -->
      <button mat-raised-button (click)="drawer.toggle()">
        <img
          style="height: 30px; width: 30px; justify-content: right;"
          src="assets\Image\home\icon.png"
        />
      </button>

      <div>
        <img
          src="assets\Image\home\import2.jpg"
          style="height: 200px; width: 350px;"
        />
      </div>
      <!-- about us know us -->
      <div style="padding: 30px; font-family: sans-serif;">
        <p style="font-size: 40px; text-align: center;">
          About Us
        </p>
        <p style="text-align: center; font-size: 20px; padding: 10px;">
          ------------ Know us ------------
        </p>
      </div>
      <!-- welcome to r-exim india -->
      <div style="padding: 20px; background-color: whitesmoke;">
        <section>
          <img
            class="mobcircle"
            style="align-items: center;"
            src="assets\Image\home\welcome.jpg"
          />
        </section>

        <section style="padding: 30px;">
          <div>
            <p style="font-size: 25px; text-align: center;">
              <b>Welcome To R-Exim India!</b>
            </p>
            <div style="font-size: 15px;">
              <br />
              We are proud to announce the Compnay that enjoys making
              challenging tasks possible in Sourcing business, who has taken
              traditional<br />
              import-export companies by storm.
              <br /><br />We are

              <ul>
                <li>team of young,</li>
                <br />
                <li>experienced,</li>
                <br />
                <li>dynamic individuals</li>
              </ul>
              who has not just achieved <b>new heights</b> on their respective
              careers but
              <i
                >also known terms dynamic ,market insights,client management and
                sourcing knowledge.</i
              >
            </div>
          </div>
        </section>
      </div>
      <br />
      <!-- why choose us -->
      <div style="padding: 20px; background-color: beige;">
        <section>
          <img class="mobcircle" src="assets\Image\home\why.jpg" />
        </section>
        <section style="padding: 30px;">
          <div>
            <p style="font-size: 25px; text-align: left;">
              <b>Why choose us?</b>
            </p>
            <div style="font-size: 15px;">
              <br />
              We select our product after doing detailed market research and
              then we source the ingredients directly contacting the farmers.
              Finally, our highly professional quality control department check
              each product with various quality parameters. <br /><br />We
              provide<br />

              <img class="mobicon" src="assets\Image\home\eco.jpg" /> Natural
              and Healthy Products<br /><br />
              <img class="mobicon" src="assets\Image\home\quality.png" />
              Best-Quality Products <br /><br />
              <img class="mobicon" src="assets\Image\home\time.png" />Timely
              Delivery<br /><br />
            </div>
          </div>
        </section>
      </div>

      <br />
      <!-- our products -->
      <div style="padding: 20px; background-color: blanchedalmond;">
        <div>
          <section>
            <p style="font-size: 25px; text-align: center; padding: 20px;">
              Our Products
            </p>
            <br />
            <p style="text-align: center; font-size: 15px; padding: 10px;">
              ----------------- What are we doing -----------------
            </p>
          </section>
        </div>
        <div style="padding: 40px;">
          <section>
            <mat-card>
              <mat-card-title style="font-size: 20px;"
                >Agricultural Products</mat-card-title
              >

              <mat-card-content
                ><br />
                <img
                  mat-card-image
                  class="card"
                  style="height: 180px;"
                  src="assets\Image\home\agricultural3.jpg"
                />
              </mat-card-content>
              <mat-card-actions>
                <button>Read More</button>
              </mat-card-actions>
            </mat-card>
          </section>
          <br />
          <section>
            <mat-card>
              <mat-card-title>Food Products</mat-card-title>

              <mat-card-content
                ><br />
                <img
                  mat-card-image
                  class="card"
                  src="assets\Image\home\Food-Products.jpg"
                />
              </mat-card-content>
              <mat-card-actions>
                <button>Read More</button>
              </mat-card-actions>
            </mat-card>
          </section>
          <br />
          <section>
            <mat-card>
              <mat-card-title>Chemicals</mat-card-title>
              <mat-card-content
                ><br />
                <img
                  mat-card-image
                  class="card"
                  src="assets\Image\home\chemicals.jpg"
                />
              </mat-card-content>
              <mat-card-actions>
                <button>Read More</button>
              </mat-card-actions>
            </mat-card>
          </section>
          <br />
          <section>
            <mat-card>
              <mat-card-title>Grains </mat-card-title>
              <mat-card-content>
                <br />
                <img
                  mat-card-image
                  class="card"
                  src="assets\Image\home\grains.jpg"
                />
              </mat-card-content>
              <mat-card-actions>
                <button>Read More</button>
              </mat-card-actions>
            </mat-card>
          </section>
          <br />
          <section>
            <mat-card>
              <mat-card-title>Spices</mat-card-title>
              <mat-card-content
                ><br />
                <img
                  mat-card-image
                  class="card"
                  src="assets\Image\home\spices.jpg"
                />
              </mat-card-content>
              <mat-card-actions>
                <button>Read More</button>
              </mat-card-actions>
            </mat-card>
          </section>
          <br />
        </div>
      </div>
      <br />
      <!-- our process -->
      <div style="padding: 50px; background-color: rgb(180, 206, 255);">
        <div>
          <section>
            <p style="font-size: 25px; text-align: center; padding: 20px;">
              Our Process
            </p>
            <br />
            <p style="text-align: center; font-size: 15px; padding: 10px;">
              ---------- We strictly follow with ----------
            </p>
          </section>
          <br />
        </div>
        <div style="padding: 40px;">
          <section>
            <mat-card class="mobmat">
              <mat-card-title style="font-size: 20px;"
                >Understanding Your Requirements</mat-card-title
              >

              <mat-card-content
                ><br />
                <img
                  mat-card-image
                  class="circle2"
                  src="assets\Image\home\req.png"
                />
              </mat-card-content>
            </mat-card>
          </section>
          <br />
          <section>
            <mat-card class="mobmat"
              ><br />
              <mat-card-title style="font-size: 20px;">Costing</mat-card-title
              ><br />

              <mat-card-content
                ><br />
                <img
                  mat-card-image
                  class="circle2"
                  src="assets\Image\home\cost.jpg"
                />
              </mat-card-content>
            </mat-card>
          </section>
          <br />
          <section>
            <mat-card class="mobmat"
              ><br />
              <mat-card-title style="font-size: 20px;">
                Quotation Submission</mat-card-title
              >
              <mat-card-content
                ><br />
                <img
                  mat-card-image
                  class="circle2"
                  src="assets\Image\home\quote.png"
                />
              </mat-card-content>
            </mat-card>
          </section>
          <br />
          <section>
            <mat-card class="mobmat"
              ><br />
              <mat-card-title style="font-size: 20px;">
                Order Acceptance
              </mat-card-title>
              <mat-card-content>
                <br />
                <img
                  mat-card-image
                  class="circle2"
                  src="assets\Image\home\order.png"
                />
              </mat-card-content>
            </mat-card>
          </section>
          <br />
          <section>
            <mat-card class="mobmat"
              ><br /><br />
              <mat-card-title style="font-size: 20px;">Sourcing</mat-card-title>
              <mat-card-content
                ><br />
                <img
                  mat-card-image
                  class="circle2"
                  src="assets\Image\home\source.png"
                />
              </mat-card-content>
            </mat-card>
          </section>
          <br />
          <section>
            <mat-card class="mobmat"
              ><br /><br />
              <mat-card-title style="font-size: 20px;">Dispatch</mat-card-title>
              <mat-card-content
                ><br />
                <img
                  mat-card-image
                  class="circle2"
                  src="assets\Image\home\dispatch.png"
                />
              </mat-card-content>
            </mat-card>
          </section>
          <br />
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
