.navbar{
  justify-content: space-between;
}
span{
  padding-left :50px;
align-items:right;
}
.circle {
  height: 350px;
  width: 350px;
  border-radius: 50%;
}
.icon{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
mat-card{
  width: 200px;
}
