<!-- <
  <button class="nav1"mat-stroked-button><img src="assets\Image\Logo\logo1.JPG" class="image"></button>
  <button class="nav" mat-stroked-button>Home</button>
  <button class="nav" mat-stroked-button>About Us</button>
  <button class="nav" mat-stroked-button>Products</button>
  <button class="nav" mat-stroked-button>Contact</button> -->
<mat-toolbar color="primary">
  <div><img src="assets\Image\Logo\logo1.JPG" class="image"><br></div>
  <div>
  <span>Home</span>
<span>About Us</span>
  <span>Products</span>
  <span>Contact Us</span>
</div>
</mat-toolbar>
<img src="assets\Image\home\agricultural.jpg" style="width: 1350px;height:700px ;">
<img src="assets\Image\home\Food-Products.jpg" style="width: 1350px;height:700px ;">
<img src="assets\Image\home\chemicals.jpg" style="width: 1350px;height:700px ;">
<img src="assets\Image\home\grains.jpg" style="width: 1350px;height:700px ;">
<img src="assets\Image\home\spices.jpg" style="width: 1350px;height:700px ;">
