
 .image{
   height: 75px;
 }

.navbar{
  justify-content: space-between;
}
span{
  padding-left :50px;
align-items: left;
}
.example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}
colorbar{
  color: white;
  background-color: "primary";
}
