<div fxHide.lt-md>
  <h1 class="heading" fxLayoutAlign="center ">Food-Products</h1>
<div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap='50px'>
<section>
  <mat-card>
    <mat-card-title > Chakli</mat-card-title>
    <mat-card-subtitle>Snack </mat-card-subtitle>
    <mat-card-content>
      <img mat-card-image src="assets\Image\Food-Products\Chakli.jpg" style="width: 400px;height: 295px;">
      <b>Chakli</b> is a savoury snack from India. It is a spiral shaped snack
      with a spiked surface.......
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="chakli()">Read More</button>
      <button>Enquire Now</button>
    </mat-card-actions>
  </mat-card>
</section>
<section>
  <mat-card>
    <mat-card-title> Cornflake-Mixture</mat-card-title>
    <mat-card-subtitle>Mixture</mat-card-subtitle>
    <mat-card-content>
      <img mat-card-image src="assets\Image\Food-Products\Cornflake-Mixture.jpg" style="width:400px;">
      <b>Cornflakes mixture or chivda</b> is a tea time snacks recipe
      prepared using thin corn flakes, peanuts, roasted gram, cashews,
       dry coconut and spices. This is a very easy and tasty recipe.
        It is best served with a cup of tea.......
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="cornflake()">Read More</button>
      <button>Enquire Now</button>
    </mat-card-actions>
  </mat-card>
</section>
<section>
  <mat-card>
    <mat-card-title>Dry-Kachori</mat-card-title>
    <mat-card-subtitle> Kachori</mat-card-subtitle>
    <mat-card-content>
      <img mat-card-image src="assets\Image\Food-Products\Dry-Kachori.jpg" style="width: 400px; height: 230px;">
      <b> Dry Kachori </b>is a deep fried crispy and crunchy ball of maida
      flour stuffed with moong dal and various spicy dry masala.
      it a mild sweet and spicy dry masala wrapped in a crisp outer
      layer of maida, is delicious snack that can be stored for
      few weeks.......
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="drykachori()">Read More</button>
      <button>Enquire Now</button>
    </mat-card-actions>
  </mat-card>
</section>
</div>
<div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap='50px'>
  <section>
    <mat-card>
      <mat-card-title >Khakhra</mat-card-title>
      <mat-card-subtitle>Snack </mat-card-subtitle>
      <mat-card-content>
        <img mat-card-image src="assets\Image\Food-Products\Khakhra.png" style="width: 400px;height: 250px;">
       <b> Khakhra </b>is a thin cracker common in the Gujarati cuisines of western India, especially among Jains.......
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="khakhra()">Read More</button>
        <button>Enquire Now</button>
      </mat-card-actions>
    </mat-card>
  </section>
  <section>
    <mat-card>
      <mat-card-title>Methi-Papdi</mat-card-title>
      <mat-card-subtitle>Papdi</mat-card-subtitle>
      <mat-card-content>
        <img mat-card-image src="assets\Image\Food-Products\Methi-Papdi.jpg" style="width:400px ; height:245px ;">
        A blast of flavor and a attack of crunchiness …. Your taste buds are in for an exciting adventure with these meethi papdi!......
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="methipapdi()">Read More</button>
        <button>Enquire Now</button>
      </mat-card-actions>
    </mat-card>
  </section>
  <section>
    <mat-card>
      <mat-card-title>Mini-Kachori</mat-card-title>
      <mat-card-subtitle>Kachori</mat-card-subtitle>
      <mat-card-content>
        <img mat-card-image src="assets\Image\Food-Products\Dry-Kachori.jpg" style="width: 400px; height: 230px;">
        <b>Mini kachori</b> is a deep fried crispy and crunchy ball of maida flour stuffed with moong dal and various spicy dry masala.......
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="minikachori()">Read More</button>
        <button>Enquire Now</button>
      </mat-card-actions>
    </mat-card>
  </section>

  </div>
  <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap='50px'>
    <section>
      <mat-card>
        <mat-card-title>Namkeen</mat-card-title>
        <mat-card-subtitle>Mixture</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Namkeen.png" style="width: 400px; height: 210px;">
           If you have been around someone from India, been to India, or even just eaten Indian food, you may have heard the word "namkeen."<b> Namkeen</b> is the Hindi word used to describe a savory flavor. .......
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="namkeen()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title > Papdi</mat-card-title>
        <mat-card-subtitle>Papdi </mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Papdi.jpg" style="width: 400px;height: 250px;">
          <b>Papdi are deep fried, crisp, small flour crackers or pooris</b> laced with either carom or cumin seeds or both.....
         </mat-card-content>
           <mat-card-actions>
          <button mat-raised-button (click)="papdi()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title>Puffed-Poha</mat-card-title>
        <mat-card-subtitle>Mixture</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Puffed-Poha.jpg" style="width:400px;height: 230px;">
          <b>Puffed Rice Poha </b>, Generally poha is prepared using flat rice but here we curate a recipe of poha with puffed rice or as commonly known, murmura.......
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="poha()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>

    </div>

    <div style="padding: 20px; width: 400px;" >
      <section>
        <mat-card class="mat-card">
          <mat-card-title>Tasty-Nuts</mat-card-title>
          <mat-card-subtitle>Nuts</mat-card-subtitle>
          <mat-card-content>
            <img mat-card-image src="assets\Image\Food-Products\Tasty-Nuts.jpg"
             style="width: 400px; height: 250px;"><br>
            <b> Dry Kachori </b>is a deep fried crispy and crunchy ball of maida
            flour stuffed with moong dal and various spicy dry masala.
            it a mild sweet and spicy dry masala wrapped in a crisp outer
            layer of maida, is delicious snack that can be stored for
            few weeks.......
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="nuts()">Read More</button>
            <button>Enquire Now</button>
          </mat-card-actions>
        </mat-card>
      </section>
    </div>
</div>




<div fxHide.gt-md>
  <h1 class="mobheading" fxLayoutAlign="center ">Food Products</h1>
  <div fxLayoutGap='50px'>
    <section>
      <mat-card>
        <mat-card-title > Chakli</mat-card-title>
        <mat-card-subtitle>Snack </mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Chakli.jpg" style="width: 400px;height: 295px;">
          <b>Chakli</b> is a savoury snack from India. It is a spiral shaped snack
          with a spiked surface.......
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="chakli()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title> Cornflake-Mixture</mat-card-title>
        <mat-card-subtitle>Mixture</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Cornflake-Mixture.jpg" style="width:400px;">
          <b>Cornflakes mixture or chivda</b> is a tea time snacks recipe
          prepared using thin corn flakes, peanuts, roasted gram, cashews,
           dry coconut and spices. This is a very easy and tasty recipe.
            It is best served with a cup of tea.......
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="cornflake()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title>Dry-Kachori</mat-card-title>
        <mat-card-subtitle> Kachori</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Dry-Kachori.jpg" style="width: 400px; height: 230px;">
          <b> Dry Kachori </b>is a deep fried crispy and crunchy ball of maida
          flour stuffed with moong dal and various spicy dry masala.
          it a mild sweet and spicy dry masala wrapped in a crisp outer
          layer of maida, is delicious snack that can be stored for
          few weeks.......
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="drykachori()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title >Khakhra</mat-card-title>
        <mat-card-subtitle>Snack </mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Khakhra.png" style="width: 400px;height: 250px;">
         <b> Khakhra </b>is a thin cracker common in the Gujarati cuisines of western India, especially among Jains.......
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="khakhra()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title>Methi-Papdi</mat-card-title>
        <mat-card-subtitle>Papdi</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Methi-Papdi.jpg" style="width:400px ; height:245px ;">
          A blast of flavor and a attack of crunchiness …. Your taste buds are in for an exciting adventure with these meethi papdi!......
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="methipapdi()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title>Mini-Kachori</mat-card-title>
        <mat-card-subtitle>Kachori</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Dry-Kachori.jpg" style="width: 400px; height: 230px;">
          <b>Mini kachori</b> is a deep fried crispy and crunchy ball of maida flour stuffed with moong dal and various spicy dry masala.......
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="minikachori()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title>Namkeen</mat-card-title>
        <mat-card-subtitle>Mixture</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Namkeen.png" style="width: 400px; height: 210px;">
           If you have been around someone from India, been to India, or even just eaten Indian food, you may have heard the word "namkeen."<b> Namkeen</b> is the Hindi word used to describe a savory flavor. .......
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="namkeen()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title > Papdi</mat-card-title>
        <mat-card-subtitle>Papdi </mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Papdi.jpg" style="width: 400px;height: 250px;">
          <b>Papdi are deep fried, crisp, small flour crackers or pooris</b> laced with either carom or cumin seeds or both.....
         </mat-card-content>
           <mat-card-actions>
          <button mat-raised-button (click)="papdi()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title>Puffed-Poha</mat-card-title>
        <mat-card-subtitle>Mixture</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Puffed-Poha.jpg" style="width:400px;height: 230px;">
          <b>Puffed Rice Poha </b>, Generally poha is prepared using flat rice but here we curate a recipe of poha with puffed rice or as commonly known, murmura.......
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="poha()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card class="mat-card">
        <mat-card-title>Tasty-Nuts</mat-card-title>
        <mat-card-subtitle>Nuts</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets\Image\Food-Products\Tasty-Nuts.jpg"
           style="width: 400px; height: 250px;"><br>
          <b> Dry Kachori </b>is a deep fried crispy and crunchy ball of maida
          flour stuffed with moong dal and various spicy dry masala.
          it a mild sweet and spicy dry masala wrapped in a crisp outer
          layer of maida, is delicious snack that can be stored for
          few weeks.......
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="nuts()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
      </div>
  </div>
