<div style="padding-top: 140px;">
    <mat-card>
        <mat-card-title>Food-Products </mat-card-title>
        <mat-card-content>
            <ul>
                <li>DRY KACHORI</li>
                <li>All Types of namkeen</li>
                <li>GUJRATI PAPDI</li>
                <li>CORN FLAKES MIXTURE</li>
                <li>TASTY NUT</li>
                <li>BAKED TRIANGLE CHIPS</li>
                <li>KHAKHRA</li>
                <li>METHI PAPDI</li>
                <li>MINI KACHORI</li>
                <li>CHAKLI SNACKS</li>
                <li>PUFFED POHA</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>