<div fxLayout style="padding: 70px;" fxLayoutGap="20px" fxHide.lt-md>
    <section>
      <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">
        <section>
          <h1 class="heading">Khakra</h1>
        </section>
        <section>
          <img src="assets/Image/Food-Products/Khakhra.png" style="width: 90%;" />
        </section>
        <section>
          <div fxLayout fxLayoutGap="20px">
            <section>
               <b> Khakhra </b>is a thin cracker common in the Gujarati cuisines
                of western India, especially among Jains. It is made from
                mat bean, wheat flour and oil. It is served usually during
                breakfast.<br>
                <b>Varieties<br>Khakhra</b> is made in several varieties,
                such as methi (fenugreek), jeera (cumin), bajri, pudina,
                 garlic and ajwain, among others.Mungdi is a sweet type
                  of khakhra.
            </section>
            <section>
              <div fxLayoutAlign="center">
                <h2>Nutrition Value</h2>
              </div>
              <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </section>
          </div>
        </section>
        <section>

          <button mat-raised-button color="primary">Enquire Now</button>
        </section>
      </div>
    </section>
    <section>
      <app-demo></app-demo>
    </section>
  </div>
  <div fxFlex fxHide.gt-md fxLayoutAlign="center">
    <mat-card>
      <mat-card-title class="cardheading" fxLayoutAlign="center">
        Khakra</mat-card-title
      >
      <img
        mat-card-image
        src="assets/Image/Food-Products/Khakhra.png"
        class="mobimg"
      />
      <mat-card-content>
        <section>
          <b> Khakhra </b>is a thin cracker common in the Gujarati cuisines
           of western India, especially among Jains. It is made from
           mat bean, wheat flour and oil. It is served usually during
           breakfast.<br>
           <b>Varieties<br>Khakhra</b> is made in several varieties,
           such as methi (fenugreek), jeera (cumin), bajri, pudina,
            garlic and ajwain, among others.Mungdi is a sweet type
             of khakhra.
       </section>

        <h2>Nutrition Value</h2>

        <table class="mobiletable" mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">
              {{ element.position }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
        <button mat-raised-button color="primary">Enquire Now</button>
      </mat-card-content>
    </mat-card>
  </div>
