<!-- <<app-namkeen></app-namkeen>
  <app-gujrati-papdi></app-gujrati-papdi>
 <app-dry-kachori></app-dry-kachori>
 <app-cornflake-mixture></app-cornflake-mixture>
 <app-tasty-nuts></app-tasty-nuts>
<app-baked-triangle-chips></app-baked-triangle-chips>
<app-khakra></app-khakra>
 <app-meethi-papdi></app-meethi-papdi>
 <app-mini-kachori></app-mini-kachori>
 <app-chakli></app-chakli>
 <app-puffed-poha></app-puffed-poha>
<app-steam-basmati></app-steam-basmati>
<app-traditional-basmati></app-traditional-basmati>
<app-pusa-basmati></app-pusa-basmati>
<app-basmati></app-basmati>
<app-basmati1509></app-basmati1509>
<app-sugandha-rice></app-sugandha-rice>
<app-sharbati-rice></app-sharbati-rice>
<app-rh10></app-rh10>
<app-wheat></app-wheat>
<app-sharbati-wheat></app-sharbati-wheat>
<app-wheat-flour></app-wheat-flour>
<app-honey></app-honey>
<app-saffron></app-saffron> -->
<!-- <app-spices></app-spices> -->
<!-- <app-food-products></app-food-products> -->
<!-- <app-grains></app-grains> -->
<!-- <app-spices-display></app-spices-display> -->
<app-homepage></app-homepage>

<!-- <app-footer></app-footer> -->
<!-- <app-anim></app-anim> -->
