<div fxLayout style="padding: 70px;" fxLayoutGap="20px" fxHide.lt-md>
    <section>
      <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">
        <section>
          <h1 class="heading">Wheat Flour</h1>
        </section>
        <section>
          <img src="assets\Image\Grains\wheat\wheat flour.jpg" style="width: 90%;" />
        </section>
        <section>
          <div fxLayout fxLayoutGap="20px">
            <section>
               <b> Wheat flour</b> is a powder made from the grinding
                of wheat used for human consumption. Wheat varieties
                are called "soft" or "weak" if gluten content is low
                , and are called "hard" or "strong" if they have high
                gluten content. Hard flour, or bread flour, is high
                in gluten, with 12% to 14% gluten content, and its
                dough has elastic toughness that holds its shape
                 well once baked. Soft flour is comparatively
                 low in gluten and thus results in a loaf with a
                 finer, crumbly texture. Soft flour is usually
                  divided into cake flour, which is the lowest in
                  gluten, and pastry flour, which has slightly more
                   gluten than cake flour.
            </section>
            <section>
              <div fxLayoutAlign="center">
                <h2>Specification</h2>
              </div>
              <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </section>
          </div>
        </section>
        <section>

          <button mat-raised-button color="primary">Enquire Now</button>
        </section>
      </div>
    </section>
    <section>
      <app-grain-list></app-grain-list>
    </section>
  </div>
  <div fxFlex fxHide.gt-md fxLayoutAlign="center">
    <mat-card>
      <mat-card-title class="cardheading" fxLayoutAlign="center">
        Wheat Flour</mat-card-title
      >
      <img
        mat-card-image
        src="assets\Image\Grains\wheat\wheat flour.jpg"
        class="mobimg"
      />
      <mat-card-content>
        <section>
          <b> Wheat flour</b> is a powder made from the grinding
           of wheat used for human consumption. Wheat varieties
           are called "soft" or "weak" if gluten content is low
           , and are called "hard" or "strong" if they have high
           gluten content. Hard flour, or bread flour, is high
           in gluten, with 12% to 14% gluten content, and its
           dough has elastic toughness that holds its shape
            well once baked. Soft flour is comparatively
            low in gluten and thus results in a loaf with a
            finer, crumbly texture. Soft flour is usually
             divided into cake flour, which is the lowest in
             gluten, and pastry flour, which has slightly more
              gluten than cake flour.
       </section>

        <h2>Specification</h2>

        <table class="mobiletable" mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">
              {{ element.position }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
        <button mat-raised-button color="primary">Enquire Now</button>
      </mat-card-content>
    </mat-card>
  </div>
