<div fxLayout style="padding: 70px;" fxLayoutGap="20px" fxHide.lt-md>
    <section>
      <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">
        <section>
          <h1 class="heading">PUSA Basmati Rice</h1>
        </section>
        <section>
          <img src="assets\Image\Grains\Rice\pusa.jpg" style="width: 90%;" />
        </section>
        <section>
          <div fxLayout fxLayoutGap="20px">
            <section>
              <b>Pusa 1121</b> is an essentially derived variety evolved
              through the process of hybridization over a long breeding
               process. The variety of basmati rice was developed by Padma
                Shri awardee Vijaypal Singh and his student Ashok Kumar
                 Sarial.<br> This variety of rice is known for its extraordinary
                  kernel (grain) length, which can be as much as 8.4 millimetres
                  (0.33 in) for a single grain, the longest-ever known released
                   cultivar in the world. It has very high kernel elongation
                    ratio ranging from 2 to 2.5, i.e. length of cooked rice
                    kernel/length of uncooked kernel. <br>When cooked,
                     the rice does not turn sticky, possesses minimum
                      breadth-wise expansion, and is aromatic
                 with intermediate alkali-spreading value and amylose content.


            </section>
            <section>
              <div fxLayoutAlign="center">
                <h2>Specification</h2>
              </div>
              <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </section>
          </div>
        </section>
        <section>

          <button mat-raised-button color="primary">Enquire Now</button>
        </section>
      </div>
    </section>
    <section>
      <app-grain-list></app-grain-list>
    </section>
  </div>
  <div fxFlex fxHide.gt-md fxLayoutAlign="center">
    <mat-card>
      <mat-card-title class="cardheading" fxLayoutAlign="center">
        PUSA Basmati Rice</mat-card-title
      >
      <img
        mat-card-image
        src="assets\Image\Grains\Rice\pusa.jpg"
        class="mobimg"
      />
      <mat-card-content>
        <section>
          <b>Pusa 1121</b> is an essentially derived variety evolved
          through the process of hybridization over a long breeding
           process. The variety of basmati rice was developed by Padma
            Shri awardee Vijaypal Singh and his student Ashok Kumar
             Sarial.<br> This variety of rice is known for its extraordinary
              kernel (grain) length, which can be as much as 8.4 millimetres
              (0.33 in) for a single grain, the longest-ever known released
               cultivar in the world. It has very high kernel elongation
                ratio ranging from 2 to 2.5, i.e. length of cooked rice
                kernel/length of uncooked kernel. <br>When cooked,
                 the rice does not turn sticky, possesses minimum
                  breadth-wise expansion, and is aromatic
             with intermediate alkali-spreading value and amylose content.


        </section>
        <h2>Specification</h2>

        <table class="mobiletable" mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">
              {{ element.position }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
        <button mat-raised-button color="primary">Enquire Now</button>
      </mat-card-content>
    </mat-card>
  </div>
