<div fxHide.lt-md>
  <h1 class="heading" fxLayoutAlign="center">
    Make a better Website, Give a Pleasing Experience
  </h1>

  <h2
    style="color: white; background-color: #711be2;"
    class="subheading"
    fxLayoutAlign="center"
  >
    El Diferente
  </h2>

  <div style="font-size: 18px; padding: 20px;" fxLayoutAlign="center">
    With Innovation , Hardwork and Technologies we build an unmatched Digital
    Web Interactions for startups as well as established businesses. We craft a
    unique digital experience to add value to the client's purpose and help them
    create a category leading brand experience.
  </div>
  <div style="color: white; background-color: #711be2;">
    <h2 class="subheading" fxLayoutAlign="center">
      We don't just build websites, we build experience.
    </h2>
  </div>
  <h3 style="font-size: 20px;" fxLayoutAlign="center">
    Have an Idea? Ready to start your next project?
  </h3>
  <h4 style="font-size: 20px;" fxLayoutAlign="center">
    We would be enthusiastic to work with you.
  </h4>

  <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap="50px">
    <section>
      <mat-card>
        <mat-card-title> Ayush Mishra</mat-card-title>
        <mat-card-subtitle> Developer</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets/developer/ayush.jpg"
            style="height: 380px;"
          />
          <hr />
          <div fxLayout fxLayoutAlign="center">Connect with us on</div>
          <hr />
          <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
            <a href="https://www.linkedin.com/in/ayush-mishra-1803/">
              <img class="imgs" src="assets/Images/home/linked.png"
            /></a>
            <a href="mailto:ayushmishra0810@gmail.com">
              <img class="imgs" src="assets/Images/home/gmail.png"
            /></a>

            <a href="https://www.instagram.com/__ayush_mishra__/">
              <img class="imgs" src="assets/Images/home/instagram.png"
            /></a>
          </div>
        </mat-card-content>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title> Khushboo Thakur</mat-card-title>
        <mat-card-subtitle> Developer</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets/developer/khushboo.jpg"
            style="height: 380px;"
          />
          <hr />
          <div fxLayout fxLayoutAlign="center">Connect with us on</div>
          <hr />
          <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
            <a href="https://www.linkedin.com/in/khushboo-thakur-1139761a3/">
              <img class="imgs" src="assets/Images/home/linked.png"
            /></a>
            <a href="mailto:khushboothakur235@gmail.com">
              <img class="imgs" src="assets/Images/home/gmail.png"
            /></a>

            <a href="https://www.instagram.com/khushboo_523/">
              <img class="imgs" src="assets/Images/home/instagram.png"
            /></a>
          </div>
        </mat-card-content>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title> Chakshu Kishnani</mat-card-title>
        <mat-card-subtitle> Developer</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets/developer/chakshu.jpg"
            style="height: 380px; width: 300px;"
          />
          <hr />
          <div fxLayout fxLayoutAlign="center">Connect with us on</div>
          <hr />
          <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
            <a href="https://www.linkedin.com/in/chakshu-kishnani-636197178/">
              <img class="imgs" src="assets/Images/home/linked.png"
            /></a>
            <a href="mailto:kishnani.chakshu@gmail.com">
              <img class="imgs" src="assets/Images/home/gmail.png"
            /></a>

            <a href="https://www.instagram.com/chakshu._.kishnani/">
              <img class="imgs" src="assets/Images/home/instagram.png"
            /></a>
          </div>
        </mat-card-content>
      </mat-card>
    </section>
  </div>
</div>

<div fxHide.gt-md>
  <section style="padding: 5px;">
    <div class="mobheading" fxLayoutAlign="center">
      Make a better Website,
    </div>
    <div class="mobheading" fxLayoutAlign="center">
      Give a Pleasing Experience
    </div>
  </section>

  <h2
    style="color: white; background-color: #711be2;"
    class="subheading"
    fxLayoutAlign="center"
  >
    El Diferente
  </h2>

  <div fxLayoutAlign="center" style="padding: 15px;">
    With Innovation , Hardwork and Technologies we build an unmatched Digital
    Web Interactions for startups as well as established businesses. We craft a
    unique digital experience to add value to the client's purpose and help them
    create a category leading brand experience.
  </div>
  <div style="color: white; background-color: #711be2;">
    <h2 class="mobsubheading" fxLayoutAlign="center">
      We don't just build websites, <br />&emsp;We build experience.
    </h2>
  </div>
  <h3 fxLayoutAlign="center">
    Have an Idea? Ready to start your next project?
  </h3>

  <h4 fxLayoutAlign="center">We would be enthusiastic to work with you.</h4>
  <div fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutGap="30px" style="padding: 10px;">
      <section>
        <mat-card>
          <mat-card-title> Ayush Mishra</mat-card-title>
          <mat-card-subtitle> Developer</mat-card-subtitle>
          <mat-card-content>
            <img mat-card-image src="assets/developer/ayush.jpg" />
            <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="https://www.linkedin.com/in/ayush-mishra-1803/">
                <img class="imgs" src="assets/Images/home/linked.png"
              /></a>
              <a href="mailto:ayushmishra0810@gmail.com">
                <img class="imgs" src="assets/Images/home/gmail.png"
              /></a>

              <a href="https://www.instagram.com/__ayush_mishra__/">
                <img class="imgs" src="assets/Images/home/instagram.png"
              /></a>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title> Khushboo Thakur</mat-card-title>
          <mat-card-subtitle> Developer</mat-card-subtitle>
          <mat-card-content>
            <img mat-card-image src="assets/developer/khushboo.jpg" />
            <hr />
            <div fxLayout fxLayoutAlign="center">Connect with us on</div>
            <hr />
            <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="https://www.linkedin.com/in/khushboo-thakur-1139761a3/">
                <img class="imgs" src="assets/Images/home/linked.png"
              /></a>
              <a href="mailto:khushboothakur235@gmail.com">
                <img class="imgs" src="assets/Images/home/gmail.png"
              /></a>

              <a href="https://www.instagram.com/khushboo_523/">
                <img class="imgs" src="assets/Images/home/instagram.png"
              /></a>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card>
          <mat-card-title> Chakshu Kishnani</mat-card-title>
          <mat-card-subtitle> Developer</mat-card-subtitle>
          <mat-card-content>
            <img
              mat-card-image
              src="assets/developer/chakshu.jpg"
              style="width: 320px;"
            />
            <hr />
            <div fxLayout fxLayoutAlign="center">Connect with us on</div>
            <hr />
            <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="https://www.linkedin.com/in/chakshu-kishnani-636197178/">
                <img class="imgs" src="assets/Images/home/linked.png"
              /></a>
              <a href="mailto:kishnani.chakshu@gmail.com">
                <img class="imgs" src="assets/Images/home/gmail.png"
              /></a>

              <a href="https://www.instagram.com/chakshu._.kishnani/">
                <img class="imgs" src="assets/Images/home/instagram.png"
              /></a>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
  </div>
</div>
