<div fxHide.lt-md>
  <h1 class="heading" fxLayoutAlign="center ">Spices</h1>
  <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap="50px">
    <section>
      <mat-card>
        <mat-card-title>Honey </mat-card-title>
        <mat-card-subtitle>spices</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets\Images\Products\spices\honey.jpg"

          />
          <b>Honey</b> is a sweet, viscous food substance made by honey bees and
          some related insects.Bees produce honey from the sugary secretions of
          plants .....
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button (click)="honey()">Read More</button>
          <!-- <app-enquire></app-enquire> -->
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title>Saffron</mat-card-title>
        <mat-card-subtitle>spices</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets\Images\Products\spices\saffron.jpg"

          />
          <b>Saffron </b>is a plant. The dried stigmas (thread-like parts of the
          flower) are used to make saffron spice. It can take 75,000 saffron
          blossoms to produce a single pound of saffron spice. <br />
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="saffron()">Read More</button>
          <!-- <app-enquire></app-enquire> -->
        </mat-card-actions>
      </mat-card>
    </section>

  </div>
</div>

<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center">
  <hr />
  <h1 class="mobheading" fxLayoutAlign="center">
   Spices </h1>
   <div fxLayoutAlign="center">
   <div>
     <section>
       <mat-card>
         <mat-card-title> Honey</mat-card-title>
        <mat-card-subtitle>Spices</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets\Images\Products\spices\honey.jpg"

          />
          <b>Honey</b> is a sweet, viscous food substance made by honey bees and
          some related insects.Bees produce honey from the sugary secretions of
          plants .....
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="honey()">Read More</button>
          <!-- <app-enquire></app-enquire> -->
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card class="mobcard">
        <mat-card-title>Saffron</mat-card-title>
        <mat-card-subtitle>spices</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets\Images\Products\spices\saffron.jpg"

          />
          <b>Saffron </b>is a plant. The dried stigmas (thread-like parts of the
          flower) are used to make saffron spice. It can take 75,000 saffron
          blossoms to produce a single pound of saffron spice. <br />
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="saffron()">Read More</button>
          <!-- <app-enquire></app-enquire> -->
        </mat-card-actions>
      </mat-card>
    </section>

  </div>
</div>
