.heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  padding: 30px;
}
mat-card{
width: 340px;
height: 500x;
}
.mobheading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  padding: 40px;
}
mat-card-image{
  width: 300px;
}
