<div fxHide.lt-md>
  <h1 class="heading" fxLayoutAlign="center ">Spices</h1>
  <div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap="50px">
    <section>
      <mat-card>
        <mat-card-title>Honey </mat-card-title>
        <mat-card-subtitle>spices</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets\Image\spices\honey.jpg"
            style="width: 400px; height: 275px;"
          />
          <b>Honey</b> is a sweet, viscous food substance made by honey bees and
          some related insects.Bees produce honey from the sugary secretions of
          plants .....
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button (click)="honey()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title>Saffron</mat-card-title>
        <mat-card-subtitle>spices</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets\Image\spices\saffron.jpg"
            style="width: 400px; height: 270px;"
          />
          <b>Saffron </b>is a plant. The dried stigmas (thread-like parts of the
          flower) are used to make saffron spice. It can take 75,000 saffron
          blossoms to produce a single pound of saffron spice. <br />
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="saffron()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title>Indian Spices</mat-card-title>
        <mat-card-subtitle>Spices</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets\Image\spices\spices.jpg"
            style="width: 400px; height: 270px;"
          />
          <b>Indian spices</b> include a variety of spices grown across the
          Indian subcontinent (a sub-region of South Asia). With different
          climates in different parts of the country.....
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="spices()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
  </div>
</div>

<div fxHide.gt-md>
  <h1 class="mobheading" fxLayoutAlign="center ">Spices</h1>
  <div fxLayoutGap="50px">
    <section>
      <mat-card class="mobcard">
        <mat-card-title class="cardheading">Honey</mat-card-title>
        <mat-card-subtitle>Spices</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets\Image\spices\honey.jpg"
            style="width: 370px; height: 310px;"
          />
          <b>Honey</b> is a sweet, viscous food substance made by honey bees and
          some related insects.Bees produce honey from the sugary secretions of
          plants .....
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="honey()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card class="mobcard">
        <mat-card-title>Saffron</mat-card-title>
        <mat-card-subtitle>spices</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets\Image\spices\saffron.jpg"
            style="width: 370px; height: 255px;"
          />
          <b>Saffron </b>is a plant. The dried stigmas (thread-like parts of the
          flower) are used to make saffron spice. It can take 75,000 saffron
          blossoms to produce a single pound of saffron spice. <br />
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="saffron()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card class="mobcard">
        <mat-card-title>Indian Spices</mat-card-title>
        <mat-card-subtitle>spices</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets\Image\spices\spices.jpg"
            style="width: 370px; height: 275px;"
          />
          <b>Indian spices</b> include a variety of spices grown across the
          Indian subcontinent (a sub-region of South Asia). With different
          climates in different parts of the country.....
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="spices()">Read More</button>
          <button>Enquire Now</button>
        </mat-card-actions>
      </mat-card>
    </section>
  </div>
</div>
